<div>
    <h1 class="mt-3 mb-3">Produtos</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Produto</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |p| %>
        <tr>
            <th scope="row"><%= p.id %></th>
            <td><%= p.nome %></td>
        </tr>
    <% end %>
  </tbody>
</table>