<div>
    <h1 class="mt-3 mb-3">Produtos</h1>
    <% @produtos.each do |p| %>
        <h6><%= p.id %> - <%= p.nome %> </h6>
    <% end %>
</div>

<div>
    <h3 class="mt-3 mb-3"> Upload to database </h3>
    <%= form_with model: @produto, url: up_path do |form| %>
        <%= form.submit %>
    <% end %>
</div>